<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 box">
            <div class="row">
                <div class="col-md-5 login-img">
                    <img src="/assets/img/office.jpg" alt="">
                </div>
                <div class="col-md-7 welcome">
                    <div class="mt-auto mb-auto w-100">
                        <h2>Welcome Back!</h2>
                        <p class="welcome-info">Please login to access your <a href="/">Spaces</a> Dashboad</p>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                            </div>
                            <div class="form-group mt-2">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="**********">
                            </div>
                            <div class="row after-form">
                                <div class="col-7">
                                    <a href="#">Forget Password?</a>
                                </div>
                                <div class="col-5 d-flex">
                                    <button class="btn btn-primary text-upper ml-auto">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
