@import "../../../variables";

.header {
    background: $SECONDARY_HEADER_BG_COLOR;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: $SECONDARY_FONT_COLOR;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0 15px;
    font-size: 12px;
}
