<app-users-header></app-users-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box d-flex opened">
                <div class="users-list-container">
                    <div class="users-list">
                        <div class="row list-header">
                            <div class="col-10">
                                User
                            </div>
                            <div class="col-2">
                                Actions
                            </div>
                        </div>
                        <div class="list-item" *ngFor="let user of users">
                            <div class="row">
                                <div class="col-9">
                                    <div class="d-flex user-list">
                                        <img class="user-avatar" [src]="user.avatar" alt="">
                                        <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
                                    </div>
                                </div>
                                <div class="col-3 centerialize">
                                    <div>
                                        <app-edit></app-edit>
                                        <app-delete></app-delete>
                                        <div>
                                            <img src="/assets/img/right.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loading-more">
                        <img src="/assets/img/spinner.svg" alt="">
                        <div>Loading more users</div>
                    </div>
                </div>
                <div class="single-user-container">
                    <app-single></app-single>
                </div>
            </div>
        </div>
    </div>
</div>
