<div class="single-container">
    <div class="close-icon">
        <button (click)="close()">
            <img src="/assets/img/close.svg" alt="">
        </button>
    </div>
    <div *ngIf="user" >
        <div class="avatar">
            <img  [src]="user.avatar" alt="">
        </div>
        <div class="name">
            {{ user.first_name }} {{ user.last_name }}
        </div>
    </div>
    <div>
        <app-edit [btnType]="'expanded'" [user]="user"></app-edit>
        <app-delete [btnType]="'expanded'" class="ml-2"></app-delete>
    </div>
</div>
