/** Variables **/
$BG_COLOR: #f5f5f5;
$MAIN_FONT: 'Heebo', sans-serif;
$LINK_COLOR: #8e44ad;
$INFO_COLOR: #7f8c8d;
$INPUT_BORDER_COLORS: #d6dbe4;
$BTN_PRIMARY_COLOR: #8e44ad;
$SECONDARY_HEADER_BG_COLOR: #dedede;
$SECONDARY_FONT_COLOR: #34495e;
